.DS_Store
.settings
.phpintel

composer.lock
/vendor/
/node_modules/

assets/photo/*
assets/json/*
assets/mp3/*
assets/booklet/*

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess