html {
    min-height: 100%;
    height: 100%;
}
body {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    color: #000;
    background-color: #ececec;
}
html,
body {
    margin: 0;
    padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}
a {
    color: inherit;
    text-decoration: none;
    vertical-align: top;
    outline: 0;
}
a:focus,
button:focus {
    outline: 0;
    outline: -webkit-focus-ring-color auto 0;
    outline-offset: 0;
}
img {
    max-width: 100%;
    vertical-align: top;
    border: 0;
    -ms-interpolation-mode: bicubic;
}
table {
    border-collapse: collapse;
}
iframe {
    border: none;
    vertical-align: top;
}
li,
ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul li,
ul li a {
    display: inline-block;
    list-style: none;
    vertical-align: top;
}
input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input:focus::-webkit-input-placeholder,
input:focus:-moz-placeholder,
input:focus::-moz-placeholder,
input:focus:-ms-input-placeholder {
    color: transparent;
}
input:focus,
textarea:focus,
select:focus {
    outline: none;
}
input[type="button"],
input[type="checkbox"],
input[type="radio"],
input[type="reset"],
input[type="submit"],
label,
select {
    cursor: pointer;
}
input[type="search"] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
button,
input[type="button"],
input[type="checkbox"],
input[type="radio"],
input[type="reset"],
input[type="submit"],
label,
select {
    cursor: pointer;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    line-height: 1.3;
    color: inherit;
    text-rendering: optimizelegibility;
    font-weight: 500;
}
h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 1em;
}
h5 {
    font-size: 0.9375em;
}
h6 {
    font-size: 0.786em;
}
p {
    line-height: 1.5;
}
div:focus {
    border: 0 !important;
    outline-style: none !important;
    outline-color: #fff !important;
}
.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
}
.modal__container {
    background-color: #fff;
    max-height: 100vh;
    border-radius: 4px;
    box-sizing: border-box;
    max-width: 90%;
    overflow: hidden;
}
.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.25;
    color: #00449e;
    box-sizing: border-box;
}
.modal__close {
    background: transparent;
    border: 0;
}
.modal__header .modal__close:before {
    content: "\2715";
}
.modal__content {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.8);
}
.modal__btn {
    font-size: 0.875rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #e6e6e6;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 0.25rem;
    border-style: none;
    border-width: 0;
    cursor: pointer;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    line-height: 1.15;
    margin: 0;
    will-change: transform;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: -webkit-transform 0.25s ease-out;
    transition: transform 0.25s ease-out;
    transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}
.modal__btn:focus,
.modal__btn:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
.modal__btn-primary {
    background-color: #00449e;
    color: #fff;
}
@keyframes mmfadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes mmfadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes mmslideIn {
    from {
        transform: translateY(15%);
    }
    to {
        transform: translateY(0);
    }
}
@keyframes mmslideOut {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10%);
    }
}
.micromodal-slide {
    display: none;
}
.micromodal-slide.is-open {
    display: block;
}
.micromodal-slide[aria-hidden="false"] .modal__overlay {
    animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.micromodal-slide[aria-hidden="false"] .modal__container {
    animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.micromodal-slide[aria-hidden="true"] .modal__overlay {
    animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.micromodal-slide[aria-hidden="true"] .modal__container {
    animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
    will-change: transform;
}
.tns-outer {
    padding: 0 !important;
}
.tns-outer [hidden] {
    display: none !important;
}
.tns-outer [aria-controls],
.tns-outer [data-action] {
    cursor: pointer;
}
.tns-slider {
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    transition: all 0s;
}
.tns-slider > .tns-item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.tns-horizontal.tns-subpixel {
    white-space: nowrap;
}
.tns-horizontal.tns-subpixel > .tns-item {
    display: inline-block;
    vertical-align: top;
    white-space: normal;
}
.tns-horizontal.tns-no-subpixel:after {
    content: "";
    display: table;
    clear: both;
}
.tns-horizontal.tns-no-subpixel > .tns-item {
    float: left;
}
.tns-horizontal.tns-carousel.tns-no-subpixel > .tns-item {
    margin-right: -100%;
}
.tns-no-calc {
    position: relative;
    left: 0;
}
.tns-gallery {
    position: relative;
    left: 0;
    min-height: 1px;
}
.tns-gallery > .tns-item {
    position: absolute;
    left: -100%;
    -webkit-transition: transform 0s, opacity 0s;
    -moz-transition: transform 0s, opacity 0s;
    transition: transform 0s, opacity 0s;
}
.tns-gallery > .tns-slide-active {
    position: relative;
    left: auto !important;
}
.tns-gallery > .tns-moving {
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    transition: all 0.25s;
}
.tns-autowidth {
    display: inline-block;
}
.tns-lazy-img {
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    transition: opacity 0.6s;
    opacity: 0.6;
}
.tns-lazy-img.tns-complete {
    opacity: 1;
}
.tns-ah {
    -webkit-transition: height 0s;
    -moz-transition: height 0s;
    transition: height 0s;
}
.tns-ovh {
    overflow: hidden;
}
.tns-visually-hidden {
    position: absolute;
    left: -10000em;
}
.tns-transparent {
    opacity: 0;
    visibility: hidden;
}
.tns-fadeIn {
    opacity: 1;
    filter: alpha(opacity=100);
    z-index: 0;
}
.tns-normal,
.tns-fadeOut {
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: -1;
}
.tns-vpfix {
    white-space: nowrap;
}
.tns-vpfix > div,
.tns-vpfix > li {
    display: inline-block;
}
.tns-t-subp2 {
    margin: 0 auto;
    width: 310px;
    position: relative;
    height: 10px;
    overflow: hidden;
}
.tns-t-ct {
    width: 2333.3333333%;
    width: -webkit-calc(100% * 70 / 3);
    width: -moz-calc(100% * 70 / 3);
    width: calc(100% * 70 / 3);
    position: absolute;
    right: 0;
}
.tns-t-ct:after {
    content: "";
    display: table;
    clear: both;
}
.tns-t-ct > div {
    width: 1.4285714%;
    width: -webkit-calc(100% / 70);
    width: -moz-calc(100% / 70);
    width: calc(100% / 70);
    height: 10px;
    float: left;
}
.tns-nav > [aria-controls] {
    width: 10px;
    height: 10px;
    padding: 0;
    margin: 0 3px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid #000;
}
.tns-nav > .tns-nav-active {
    background: #000;
}
#slider-jagoan-ow > .tns-nav > .tns-nav-active {
    background: #fff;
}
#slider-jagoan-ow > .tns-nav > [aria-controls] {
    border: 1px solid #cea84d;
}
.tns-nav {
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 99;
    text-align: center;
}
.tns-outer {
    position: relative;
}
.field {
    padding: 10px;
    border: 2px solid #000;
    min-width: 300px;
    width: 100%;
}
@media (max-width: 768px) {
    .field {
        width: 100%;
        min-width: 100%;
    }
}
.imgfillImg,
.video img,
.photo img {
    width: 100%;
    height: 100%;
    object-position: 50% 50%;
    -o-object-fit: cover;
    object-fit: cover;
}
.imgfillImg__top {
    object-position: 50% 0;
}
.imgfillImg__middle {
    object-position: 50% 25%;
}
.imgAuto {
    width: auto;
    max-width: none;
}
.imgAuto > img {
    width: auto;
    max-width: none;
}
.imgAuto__max {
    max-width: 100%;
    width: auto;
}
.imgAuto__max > img {
    max-width: 100%;
    width: auto;
}
.imgAuto__noMax {
    max-width: none;
    width: auto;
}
.imgAuto__noMax > img {
    max-width: none;
    width: auto;
}
.imgAuto__none {
    -o-object-fit: none !important;
    object-fit: none !important;
}
.h__auto {
    height: auto !important;
}
.bg__yellow {
    background-color: #cea84d;
}
.bg__white {
    background-color: #fff;
}
.bg__blue {
    background-color: #03324c;
}
.bg__gray {
    background-color: #ececec;
}
.bg__gray2 {
    background-color: #333333;
}
.bg__img1 {
    background-image: url(../images/bg_1.jpg);
}
@media (max-width: 768px) {
    .bg__img1 {
        background-image: none;
    }
}
.bg__img2 {
    background-image: url(../images/bg_2.jpg);
}
@media (max-width: 768px) {
    .bg__img2 {
        background-image: none;
    }
}
.bg__img2b {
    background-image: url(../images/bg_2b.jpg);
}
@media (max-width: 768px) {
    .bg__img2b {
        background-image: none;
    }
}
.bg__img3 {
    background-image: url(../images/bg_3.jpg);
}
@media (max-width: 768px) {
    .bg__img3 {
        background-image: none;
    }
}
.bg__img3b {
    background-image: url(../images/bg_3b.jpg);
}
@media (max-width: 768px) {
    .bg__img3b {
        background-image: none;
    }
}
.bg__img4 {
    background-image: url(../images/bg_4.jpg);
}
@media (max-width: 768px) {
    .bg__img4 {
        background-image: none;
    }
}
.bg__img4b {
    background-image: url(../images/bg_4b.jpg);
}
@media (max-width: 768px) {
    .bg__img4b {
        background-image: none;
    }
}
.bg__img5 {
    background-image: url(../images/bg_5.jpg);
}
@media (max-width: 768px) {
    .bg__img5 {
        background-image: none;
    }
}
.bg__img5b {
    background-image: url(../images/bg_5b.jpg);
}
@media (max-width: 768px) {
    .bg__img5b {
        background-image: none;
    }
}
.text__wrap2 {
    overflow: hidden;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical;
    display: -webkit-box !important;
}
.text__wrap3 {
    overflow: hidden;
    -webkit-line-clamp: 3 !important;
    -webkit-box-orient: vertical;
    display: -webkit-box !important;
}
.btn {
    background-color: #cea84d;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
}
@media (max-width: 320px) {
    .btn {
        font-size: 12px;
    }
}
.btn__black {
    background-color: #000;
}
.z-min1 {
    z-index: -1;
}
.social__link {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 35px;
    padding: 8px;
    background: #fff;
    color: #fff;
    font-size: 17px;
    line-height: 1;
    text-align: center;
}
.social__item {
    display: inline-block;
    padding: 0 2px;
}
.social__link--facebook {
    background: #3b5998;
}
.social__link--twitter {
    background: #1da1f2;
}
.icon-facebook {
    background-image: url(../images/facebook.svg);
}
.icon-twitter {
    background-image: url(../images/twitter.svg);
}
.icon {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: auto 100%;
    width: 1em;
}
.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    padding: 15px 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.header.scroller {
    background-color: #ececec;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.1);
    padding: 15px 0;
}
.header ul li a.active {
    color: #cea84d;
}
.header__mobile {
    width: 30px;
    height: 30px;
}
@media (max-width: 768px) {
    .header__menu ul li {
        display: list-item;
        width: 100%;
    }
    .header__menu ul li a {
        display: block;
        border-bottom: 1px solid #eee;
    }
}
@media (max-width: 768px) {
    .header__menu.active {
        display: block;
        position: absolute;
        z-index: 9999999;
        background: #fff;
        width: 100%;
        left: 0;
        right: 0;
        top: 50px;
        box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2);
    }
}
.video,
.photo {
    height: 320px;
    overflow: hidden;
    cursor: pointer;
}
@media (max-width: 768px) {
    .video,
    .photo {
        height: 230px;
    }
}
.video__icon,
.photo__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
.video__icon img,
.photo__icon img {
    height: auto;
    width: 50px;
}
.modal__container {
    width: 725px;
    overflow-y: auto;
    background-color: #ececec;
    max-height: 80vh;
}
@media (max-width: 768px) {
    .modal__container {
        width: 95%;
        max-width: 95%;
    }
}
.modal__container .modal__content {
    margin: 0 !important;
    position: relative;
    color: #000;
}
.modal__container .modal__content iframe,
.modal__container .modal__content video {
    width: 100%;
    height: 408px;
}
@media (max-width: 768px) {
    .modal__container .modal__content iframe,
    .modal__container .modal__content video {
        height: 195px;
    }
}
.modal__container__form,
.modal__container__fix {
    width: 480px;
    border-radius: 0;
}
@media (max-width: 768px) {
    .modal__container__form,
    .modal__container__fix {
        width: 95%;
        max-width: 95%;
    }
}
.modal__container__form .photoprofile,
.modal__container__fix .photoprofile {
    width: 75px;
    height: 75px;
}
.modal__container__form .photoproduk > div,
.modal__container__fix .photoproduk > div {
    height: 115px;
}
@media (max-width: 768px) {
    .modal__container__form .photoproduk > div,
    .modal__container__fix .photoproduk > div {
        height: 80px;
    }
}
.modal__container__form .deskripsi,
.modal__container__fix .deskripsi {
    max-height: 100px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.modal__container__form .field,
.modal__container__fix .field {
    padding: 5px 7px;
}
.modal__container__form .pemandu,
.modal__container__fix .pemandu {
    width: 150px;
    height: 150px;
    overflow: hidden;
}
.modal__container__form .modal-pemandu ul,
.modal__container__fix .modal-pemandu ul {
    margin: 15px 0;
}
.modal__container__form {
    padding: 40px 30px;
    text-align: center;
}
.modal__container ol,
.modal__container ul {
    margin: auto;
    padding: 0 0 0 10px;
}
.modal__container ol li,
.modal__container ul li {
    list-style: decimal;
    margin: 10px 0 5px;
    line-height: 1.3;
}
.modal__close {
    border: 0;
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    background: #000;
    font-size: 20px;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}
@media (max-width: 768px) {
    .modal__close {
        font-size: 13px;
        height: 20px;
        width: 20px;
    }
}
.slider {
    overflow: hidden;
}
.slider__event > div,
.slider__infografik > div {
    height: 130px;
}
@media (max-width: 768px) {
    .slider__event > div,
    .slider__infografik > div {
        height: 100px;
    }
}
.slider__etalase__img,
.slider__square__img {
    height: 150px;
    cursor: pointer;
}
@media (max-width: 768px) {
    .slider__etalase__img,
    .slider__square__img {
        height: 100px;
    }
}
.slider__pemandu__img {
    width: 100%;
    height: 89px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 50%;
}
@media (max-width: 768px) {
    .slider__pemandu__img {
        width: 85px;
        height: 85px;
    }
}
.slider__promotor__img {
    width: 150px;
    height: 150px;
    overflow: hidden;
}
@media (max-width: 1024px) {
    .slider__promotor__img {
        width: 90px;
        height: 90px;
    }
}
@media (max-width: 640px) {
    .slider__promotor__img {
        width: 120px;
        height: 120px;
    }
}
.slider__video > div {
    height: 100px;
}
@media (max-width: 768px) {
    .slider__video > div {
        height: 80px;
    }
}
.slider__video > div .video__icon {
    position: absolute;
    width: 91.5%;
    margin: 0;
}
.slider__video > div .video__icon img {
    width: 35px;
}
.rounded__costom1 {
    height: 150px;
    width: 150px;
}
@media (max-width: 768px) {
    .rounded__costom1 {
        height: 120px;
        width: 120px;
    }
}
.rounded__costom1 > span {
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}
.rounded__costom1 > span:hover {
    opacity: 1;
}
.etalase__img {
    height: 200px;
}
@media (max-width: 768px) {
    .etalase__img {
        /* height: 100px; */
        height: auto;
    }
}
.footer ul li {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 768px) {
    .footer ul li {
        width: 25%;
        margin-bottom: 10px;
    }
}
.footer ul li img {
    max-width: 85px;
    max-height: 50px;
    width: auto;
}
/*# sourceMappingURL=styles.css.map */
